<form [formGroup]="shipForm">

    <!--nom-->
    <div class="col-6 col-md-3 col-lg-2 col-xl-3">
        <label for="nom">Nom:</label>
        <input type="text" id="nom" formControlName="nom" name="nom">
    </div>

    <!--mglt-->
    <div class="col-6 col-md-3 col-lg-2 col-xl-3">
        <label for="mglt">MGLT:</label>
        <input type="text" id="mglt" formControlName="mglt" name="mglt">
    </div>

    <div class="col-6 col-md-3 col-lg-2 col-xl-3">
        <label for="cargo_capacity">Cargo capacity: </label>
        <input type="text" id="cargo_capacity" formControlName="cargo_capacity" name="cargo_capacity">
    </div>

    <div class="col-6 col-md-3 col-lg-2 col-xl-3">
        <label for="consumables">Consumables: </label>
        <input type="text" id="consumables" formControlName="consumables" name="consumables">
    </div>

    <div class="col-6 col-md-3 col-lg-2 col-xl-3">
        <label for="cost_in_credits">Cost in credits:</label>
        <input type="text" id="cost_in_credits" formControlName="cost_in_credits" name="cost_in_credits">
    </div>

    <div class="col-6 col-md-3 col-lg-2 col-xl-3">
        <label for="created">Created: </label>
        <input type="text" id="created" formControlName="created" name="created">
    </div>

    <div class="col-6 col-md-3 col-lg-2 col-xl-3">
        <label for="crew">Crew: </label>
        <input type="text" id="crew" formControlName="crew" name="crew">
    </div>

    <div class="col-6 col-md-3 col-lg-2 col-xl-3">
        <label for="edited">Edited: </label>
        <input type="text" id="edited" formControlName="edited" name="edited">
    </div>

    <div class="col-6 col-md-3 col-lg-2 col-xl-3">
        <label for="hyperdrive_rating">Hyperdrive rating:</label>
        <input type="text" id="hyperdrive_rating" formControlName="hyperdrive_rating" name="hyperdrive_rating">
    </div>

    <div class="col-6 col-md-3 col-lg-2 col-xl-3">
        <label for="manufacturer">Manufacturer</label>
        <input type="text" id="manufacturer" formControlName="manufacturer" name="manufacturer">
    </div>

    <div class="col-6 col-md-3 col-lg-2 col-xl-3">
        <label for="model">Model: </label>
        <input type="text" id="model" formControlName="model" name="model">
    </div>

    <div class="col-6 col-md-3 col-lg-2 col-xl-3">
        <label for="passengers">Passengers: </label>
        <input type="text" id="passengers" formControlName="passengers" name="passengers">
    </div>

    <div class="col-6 col-md-3 col-lg-2 col-xl-3">
        <label for="starship_class">Starship class: </label>
        <input type="starship_class" id="starship_class" formControlName="starship_class" name="starship_class">
    </div>


</form>
